{
  "presets": ["next/babel"],
  "plugins": [
    //...
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@pages": "./src/pages",
          "@styles": "./src/styles",
          "@utils": "./src/utils",
          "@types": "./src/types",
          "@components": "./src/components",
          "@layout": "./src/layout"
        }
      }
    ]
  ]
}
